<div class="container">
  <p class="notice"><%= notice %></p>

  <%= render @movie %>

  <div class="action-links">
    <%= link_to "Edit this movie", edit_movie_path(@movie) %>
    <%= link_to "Back to movies", movies_path %>
    <%= button_to "Destroy this movie", @movie, method: :delete %>
  </div>
</div>